body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#aristocrat {
	border: 1px black solid;
	width: 50vw;
	height: 50vh;
	margin: auto;
}

#config {
	margin: auto;
	width: 50%;
	text-align: center;
}

.letter * {
	font-size: 32px;
	margin: 0;
	text-align: center;
}

.letter{
	float: left;
}

.space{
	width: 32px;
	
}